@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .nav-text-responsive {
    @apply text-[2rem] sm:text-[2rem] lg:text-[1.5rem] xl:text-[2rem];
  }
}

:root {
  font-family: 'Bebas Neue';
  line-height: 1.5;
  font-weight: 600;

  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #ffffff;

  --navbar-bg: #180ea3;
  --text-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: var(--background-color);
  scroll-behavior: auto;
}
