@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .social-external-links-responsive {
    @apply text-sm sm:text-lg md:text-xl lg:text-2xl;
  }
  .social-external-icons-responsive {
    @apply w-8 h-8 sm:w-9 sm:h-9 md:w-10 md:h-10 lg:w-11 lg:h-11;
  }  
  .nav-icons-responsive {
    @apply w-10 h-10 sm:w-16 sm:h-16 md:w-16 md:h-16 lg:w-16 lg:h-16;
  }    
  .nav-logo-responsive {
    @apply w-10 h-10 sm:w-16 sm:h-16 md:w-16 md:h-16 lg:w-16 lg:h-16;
  }      
  .nav-language-responsive {
    @apply w-6 h-6 sm:w-8 sm:h-8 md:w-10 md:h-10 lg:w-10 lg:h-10;
  }  
  .nav-links-responsive {
    @apply text-2xl sm:text-4xl md:text-4xl lg:text-2xl;
  }     
}

:root {
  font-family: 'Bebas Neue';
  line-height: 1.5;
  font-weight: 600;

  --background-color: #ffffff;
  --text-color: #ffffff;
  --primary-color: #b0adad;
  --secondary-color: #040245;
  
  --navbar-bg: #180ea3;
  --text-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: auto;
}
